.translationRow {
    display: flex;
    align-items: stretch;
    width: 300px;
    height: 130px;
    @apply bg-base-300 border-2 border-neutral;
    border-radius: 12px;
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

.translationRow.selected {
    @apply border-primary;
}

.translationField {
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.translationField .fieldLabel {
    font-size: 0.75rem;
    font-weight: 700;
    color: #888;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.translationField .fieldValue {
    font-size: 1rem;
    color: #d1d2d3;
    word-break: break-all;
}

.translationField.key {
    flex: 1.5;
    @apply bg-base-200;
    font-family: 'Courier New', Courier, monospace;
    color: #a0a0a0;
    @apply border-r-2 border-neutral;
}

.translationField.original {
    flex: 2;
    @apply border-r-2 border-neutral;
}

.translationField.editable {
    flex: 2;
}

.translationField.editable textarea {
    @apply textarea textarea-bordered;
    height: 100%;
    line-height: 1.2;
}

.rowActions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    @apply bg-base-200;
    @apply border-l-2 border-neutral;
}

.rowActions button {
    @apply btn btn-neutral;
}
